header.masthead {

    background: no-repeat center center;
    height: 300px;
    background-color: #868e96;
    background-attachment: scroll;
    position: relative;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  header.masthead .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: #212529;
      opacity: .5;
  }
  a:link
  {
  text-decoration:none;
  } 
